<?xml version="1.0" ?>
<odoo>
    <menuitem
        action="coop_stock.stock_picking_type_action_inherit"
        id="stock.stock_picking_type_menu"
        parent="stock.menu_stock_root"
        sequence="1"
        name="Dashboard"
    />

    <menuitem
        action="stock.product_template_action_product"
        id="stock.menu_product_variant_config_stock"
        name="Products"
        parent="stock.menu_stock_root"
        sequence="0"
    />

    <menuitem
        id="menu_stock_scrap_reason_tag"
        name="Stock Scrap Origin"
        parent="stock.menu_stock_config_settings"
        action="action_stock_scrap_reason_tag"
        sequence="20"
    />
</odoo>
