/* ===== Scrap list table ===== */

.scraplist-body {
    padding: 0;
}

.scraplist-screen .container-list {
    font-size: 16px;
    width: 100%;
    line-height: 40px;
}

.scraplist-screen .container-list th,
.scraplist-screen .container-list td {
    padding: 0 8px;
}

.scraplist-screen .container-list tr {
    transition: all 150ms linear;
    background: rgb(230, 230, 230);
}

.scraplist-screen .container-list thead > tr,
.scraplist-screen .container-list tr:nth-child(even) {
    background: rgb(247, 247, 247);
}
