.shift_template_form th.o_column_title {
    white-space: nowrap;
}

.shift_template_form th[data-name="seats_max"],
.shift_template_form td[data-field="seats_max"],
.shift_template_form th[data-name="seats_reserved"],
.shift_template_form td[data-field="seats_reserved"],
.shift_template_form th[data-name="seats_available"],
.shift_template_form td[data-field="seats_available"],
.shift_template_form th[data-name="seats_future"],
.shift_template_form td[data-field="seats_future"] {
    width: 1%;
    white-space: nowrap;
}

.shift_leave_form th.o_column_title {
    white-space: nowrap;
}

.shift_leave_form th[data-name="duration"],
.shift_leave_form td[data-field="duration"],
.shift_leave_form th[data-name="state"],
.shift_leave_form td[data-field="state"] {
    width: 1%;
    white-space: nowrap;
}
