.shift_registration_tree_one2many {
    th.o_list_button {
        width:  500px !important;
    }
    th[data-name="shift_ticket_id"] {
        width: 300px !important;
    }
    th[data-name="partner_id"] {
        width: 500px !important;
    }
    th[data-name="state"] {
        width: 200px !important;
    }
    th[data-name="replacing_partner_id"] {
        width: 300px !important;
    }
    th[data-name="shift_ticket_id"] {
        width: 300px !important;
    }
    th[data-name="shift_ticket_id"] {
        width: 300px !important;
    }
}
